/* 
    Document   : style
    Created on : 2012-jul-15, 22:41:29
    Author     : Daniel Eliasson - joomla at stilero.com
    Description:
        Purpose of the stylesheet follows.
*/

.instaimage { 
    float: left;
    margin: 5px;
}

.icon-48-media {
   background-image: url(../images/header/icon-48-config.png)
}

