<?xml version="1.0" encoding="utf-8" ?>
<config>
    <fieldset 
        name="instagram_settings" 
        label="Instagram Settings" 
        addfieldpath="/administrator/components/com_instaimages/elements"
    >
        <field 
            name="instructions_code" 
            type="instructions" 
            label="instructions"
        />
        <field 
            name="redirect_uri" 
            type="redirecturi" 
            default="" 
        />
        <field 
            name="client_id" 
            type="text" default="" 
            label="Client ID" 
            size="100%" 
            required="true" 
            description="The Client ID you received from the Instagram API." 
        />
        <field 
            name="client_secret" 
            type="password" default="" 
            required="true" 
            size="100%" 
            label="Client Secret" 
            description="The Client Secret you received from the Instagram API." 
        />
       <field 
            name="authorize" 
            type="authorize" 
            default="" 
            label="" 
            description="" 
        />
        <field 
            name="auth_code" 
            type="hidden" 
            default="" 
        />
        <field 
            name="access_token" 
            type="hidden" 
            default="" 
        />
        <field 
            name="base_uri" 
            type="baseuri" 
            default="" 
        />
        <field 
            name="helpers_uri" 
            type="helpersuri" 
        />
    </fieldset>	   
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_instaimages"
            section="component" 
        />
    </fieldset>	
</config>